<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        properties 建议只写resource，不要写<property name="" value="" />
    -->
    <properties resource="db.properties">
        <!--<property name="" value="" />-->
    </properties>

    <!-- 全局配置 -->
    <settings>
        <!-- 是否开启自动驼峰命名规则（camel case）映射，即从数据库列名 A_COLUMN 到属性名 aColumn 的类似映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 开启延迟加载  按需加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 开启二级缓存-->
        <setting name="cacheEnabled" value="true" />
    </settings>

    <!-- 别名-->
    <!--<typeAliases>-->
       <!--&lt;!&ndash;  单个别名&ndash;&gt;-->
        <!--<typeAlias type="com.mybatis.demos.domain.User" alias="User"></typeAlias>-->
       <!--&lt;!&ndash;  批量别名定义，mybatis会自动扫描包下面的类，别名为类名（首字母大小写均支持）&ndash;&gt;-->
        <!--<package name="com.mybatis.demos.domain"></package>-->
    <!--</typeAliases>-->

    <!--与Spring整合后environments环境将废除-->
    <environments default="development">
        <environment id="development">
            <!--使用jdbc事务管理-->
            <transactionManager type="JDBC"/>
            <!--配置数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
       <!-- <mapper resource="sqlMap/user.xml"/>-->
        <mapper resource="mapper/user.mapper.xml"/>
        <mapper resource="mapper/order.mapper.xml"/>
        <!--
            通过类路径加载mapper.xml
               规范：要求*.xml文件的名字与类名相同，且在同一个目录中
               前提：使用mapper代理的方式
         -->
        <!--<mapper class="com.mybatis.demos.mapper.UserMapper"></mapper>-->
        <!-- 批量加载，要求满足上述类加载规范 -->
        <!--<package name="com.mybatis.demos.mapper"></package>-->
    </mappers>
</configuration>